<%= flash[:notice] %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= @user.errors.count %>件のエラーがあります。</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>error</li>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1>User info</h1>
  <div class="container">
  <%= form_for(@user) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>
  <div class="field">
    <%= f.label :profile_image %>
    <%= f.attachment_field :profile_image %>
  </div>
  <div class="field">
    <%= f.label :introduction %>
    <%= f.text_area :introduction, autofocus: true %>
  </div>
  <div class="action">
    <%= f.submit "Update User", class:"btn btn-lg btn-block btn-base-1 mt-20" %>
  </div>
  <% end %>
</div>